

/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/* Home */

#home{
    height: 370px;
    padding: 3px 68px;
    
}
#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}
/* Services */
#services{
    flex-direction: column;
}
#services .box{
    
}

/* clients */

#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#clients img{
    /* overflow: hidden; */
    width: 66px;
    padding: 0px 56px;
    height: auto;
    
}

/* Contact */

/* Footer  */

/* Utility */
.hprim{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}